.navegacao {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    position: relative;
    z-index: 100;
}
.trilho {
    background-color: gray;
    height: 40px;
    width: 70px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}
.trilho .indicador {
    background: url(../assets/icones/moon-cloud-star-icon-with-black-background-moonlight-flat-icon-vector-illustration_739746-57.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 20px;
    border-radius: 50%;
    height: 40px;
    transform: scale(0.9);
    position: absolute;
    left: 0;
    transition: .5s;
}

.nav_site {
    display: flex;
    justify-content: center;
}

.navegacao_link {
    position: relative;
    text-decoration: none;
    color: var(--cor-tercearia);
    font-family: var(--fonte-principal);
    padding: 1em 1.5em;
    margin: 1em;
    font-size: 18px;
}

.navegacao_link::after {
    position: absolute;
    content: " ";
    height: 2px;
    bottom: 13px;
    left: 15px;
    width: 0%;
    background-color: white;
    transition: 0.6s ease-in-out;
}

.navegacao_link:hover::after {
    width: 78%;
}

.logo {
    display: block;
    justify-content: right;
}

.logo_nav {
    width: 30%;
    margin-left: 20px;
}


@media screen and (min-width: 720px) and (max-width: 1020px) {
    .logo_nav {
        display: none;
    }
    .navegacao {
        display: grid;
        grid-template-columns: 20% 60% 20%;
    }
    .navegacao_link {
        padding: 1em 0.5em;
        font-size: 20px;
    }

    .trilho {
        display: none;
    }

}


@media screen and (min-width: 1024px) and (max-width: 1728px) {
    .navegacao {
        position: fixed;
        width: 100%;
        z-index: 100;
    }

    .logo_nav {
        width: 35%;
        margin: 1em;
    }

    .trilho {
        margin-left: 5em;
    }
}

@media screen and (min-width: 0px) and (max-width: 720px) {
    .navegacao_link {
        display: none;
    }

    .botao_hamburguer {
        display: block;
        justify-content: left;
    }

    .navegacao {
        text-align: center;
        position: fixed;
        width: 100%;
        z-index: 100;
        margin-top: 1em;
    }

    .logo {
        display: none;
    }

    .logo_nav {
        width: 85%;
        margin: 0.2em 0;
    }
    
}

@media screen and (min-width: 0px) and (max-width: 500px){
    .logo {
        display: none;
    }
    .navegacao {
        margin-top: 1em;
    }

}
/* MODO ESCURO */
.trilho.dark {
    background-color: rgb(221, 213, 139);
}
.trilho.dark .indicador {
    left: 30px;
    background-color: rgb(112, 112, 112);
    background: url(../assets/icones/if-weather-2-2682849_90781.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(102, 89, 61);
    
}
#nav.dark .navegacao_link {
    color: black;
}

#nav.dark {
    background-color: transparent;
    color: black;
}

#nav.dark .navegacao_link::after {
    background-color: black;

}
